# ignore everything
*

# except some things:

# .gitignore itself
!.gitignore

# emacs config source
!readme.org

# tangled early init config
!early-init.el

# tangled emacs config
!init.el

# useful snippets
!snippets/
!snippets/**

# useful eshell aliases
!/eshell/
!/eshell/alias
